<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBvkQP8EYvSvRklvsbnLxfaIbnn47s_jko",
    authDomain: "ionfire-79c9c.firebaseapp.com",
    databaseURL: "https://ionfire-79c9c.firebaseio.com",
    projectId: "ionfire-79c9c",
    storageBucket: "ionfire-79c9c.appspot.com",
    messagingSenderId: "192000158270"
  };
  firebase.initializeApp(config);
</script>
