<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item-divider>
    <ion-label>
      Login Component
    </ion-label>
  </ion-item-divider>

  <app-login></app-login>

  <ion-item-divider>
    <ion-label>
      Features
    </ion-label>
  </ion-item-divider>

  <ion-button type="bar-button" href="/todo" color="dark">
    Firestore Todo List
    <ion-icon slot="start" name="bonfire"></ion-icon>
  </ion-button>
  <ion-button type="bar-button" href="/fcm" color="dark">
    Firebase Cloud Messaging
    <ion-icon slot="start" name="notifications"></ion-icon>
  </ion-button>

  <ion-button (click)="revertTutorial()" color="dark">
    See the tutorial again
    <ion-icon slot="start" name="clock"></ion-icon>
  </ion-button>

</ion-content>
